@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
    color: gray;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;

}

.main {
    position: relative;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: gray;
}

/* header */

.header {
    background-color: blue;
}

.header>.container {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.header-left,
.header-center {
    flex-grow: 1;
}


/* nav */

.nav {
    font-size: 0;
    position: relative;
}

.nav>.nav-item {
    font-size: 1rem;
    display: inline-block;
}

.nav-item>a {
    display: block;
    padding: 4px 0 10px 27px;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
}

.nav-item a:hover {
    color: gray;
}

.nav>.nav-item+.nav-item {
    margin-left: 20px;
}

.nav-item .homeworks,
.nav-item .layouts {
    position: relative;
}

.nav-second {
    position: absolute;
    top: -1000px;
    padding: 20px;
    transition: all .5s;
}

.nav-third {
    position: absolute;
    right: -1000px;
    top: 0;
    display: block;
    transition: all 1s;
}

.nav-third .nav-item {
    white-space: nowrap;
    padding-right: 10px;
}

.nav .nav-item:hover .nav-second {
    top: 100%;
}

.nav-item .layouts:hover .nav-third {
    right: 100%;
}

.nav-item .icon {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-item .right {
    padding-right: 27px;
    padding-left: 0;
}

.nav-item .icon-right {
    right: 0;
    left: auto;
}

/* table */

.table {
    width: 100%;
}

.table-row {
    width: 100%;
}

.table-cell {
    width: 33.33%;
}

.table-cell:not(:last-child) {
    padding-right: 10px;
}

.table-image>img {
    width: 400px;
    height: 500px;
}


/* section */

.section {
    padding: 50px 0;
    position: relative;
    padding: 0;
}

.section-primary {
    min-height: 100vh;
    background: #000;
}

.section-second {
    min-height: 100vh;
    background: red;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.section-description {
    font-size: 20px;
    margin-bottom: 20px;
}

.section-content {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.section-subtitle {
    margin-bottom: 20px;
}

/* cards */

.card-box {
    max-width: 500px;
    margin: 0 auto;
}

.card {
    overflow: hidden;
}


.card-image img {
    display: block;
    width: 100%;
}

.card-bottom {
    border: 1px solid #000;
}


.card-image {
    position: relative;
}

.card-cover {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    background-color: rgba(191, 210, 210, 0.5);
    top: 50%;
    margin-top: -25px;
    height: 50px;
    justify-content: center;
    align-items: center;

}

.card-image:hover .card-cover {
    display: flex;
}


.card {
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
}

.card-subtitle {
    margin-bottom: 10px;
    color: #000;
}

.card-link {
    font-size: 30px;
    color: rgb(60, 57, 57);
    display: inline-block;
}

/* list */

.list {
    position: fixed;
    display: inline-block;
    left: 100px;
    top: 200px;
}

.list .list-item {
    margin-bottom: 10px;
}

.list-item a:hover {
    color: aqua;
}

.list .list-item::before {
    content: '';
    width: 5px;
    height: 1px;
    margin-right: 5px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

/* float */

.block div {
    outline: 1px solid red;
}

.block-item {
    float: left;
    width: 400px;
}

.block-item-large {
    width: 800px;
    float: left;
}

.some-content {
    height: 400px;
    background-color: aqua;
}

.some-medium {
    height: 200px;
    background-color: black;
}

.some-small {
    height: 133px;
    background-color: blue;
}

.some-xssmall {
    height: 100px;
    background-color: blueviolet;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #ffffff
}

.box-menu {
    width: 200px;
    position: fixed;
    bottom: 0;
    right: 200px;
    background: gray;
    padding-bottom: 30px;
    transition: all 1s;
    transform: translateY(calc(100% - 46px));
}

.box-menu:hover {
    transform: translateY(0);
}

.menu-title h3 {
    background: blue;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    color: #ffffff;
    margin-bottom: 30px;
    animation: shake 1s infinite;
}

.box-menu:hover .menu-title h3 {
    animation: none;
}

@keyframes shake {
    0% {
        transform: translateX(3px);
    }

    10% {
        transform: translateX(-3px);

    }

    20% {
        transform: translate(-3px);

    }

    30% {
        transform: translateX(3px);

    }

    40% {
        transform: translateX(-3px);

    }

    50% {
        transform: translateX(2px);

    }

    60% {
        transform: translateX(-2px);

    }

    70% {
        transform: translateX(2px);

    }

    80% {
        transform: translateX(-2px);

    }

    90% {
        transform: translateX(1px);

    }

    100% {
        transform: translateX(-1px);
    }
}

.menu-title {
    background: transparent;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100px;
    margin: 0 auto;
    transform: rotate(45deg);
}

.list-item .icon {
    transform: rotate(-45deg);
    transition: all 1s;
}

.menu-list .list-item {
    border: 1px solid yellowgreen;
    overflow: hidden;
    transition: all 4s;
}

.menu-list .list-item a {
    padding: 5px;
    display: block;
    line-height: 0;
}

.menu-list .list-item:hover {
    background: #000;
}

.list-item a:hover .icon {
    fill: aquamarine;
    transform: rotate(315deg);
}

.run-man {
    background: url(../images/1.png);
    height: 256px;
    width: 256px;
    animation: run 1s steps(6) infinite;
}

@keyframes run {
    0% {
        background-position: 0, 0;
    }

    100% {
        background-position: -1536px;
    }
}


.egg {
    background: url(../images/2.png);
    width: 327px;
    height: 444px;
    margin: 0 auto;
    animation: egg 1s steps(10) infinite;
}

@keyframes egg {
    0% {
        background-position: 0, 0;
    }

    100% {
        background-position: -3270px;
    }
}